:root {
    --calculatorheight:700px;
    --calculatorwidth: calc(var(--calculatorheight) * .6);
}

#main-body {
    height: 100%;
    width: 100%;
}

#calculator-body {
    position: absolute;
    height: var(--calculatorheight);
    width: var(--calculatorwidth);
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    border: 2px solid aqua;
}

#calculator-body__interface {
    height: inherit;
    width: inherit;
    display: flex;
    flex-direction: row;
}
#interface__display {
    height: 30px;
    width: calc(var(--calculatorwidth) *.75);
    border: 1px solid black;
}
#interface__keys {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: repeat(4,  1fr);
}